<h2>Add Post</h2>
<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label>Title </label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="currentPost.title"
        name="title"
        #title
      />
    </div>

    <div class="form-group">
      <label>Body</label>
      <input
        type="text"
        class="form-control"
        name="body"
        [(ngModel)]="currentPost.body"
        #body
      />
    </div>

    <input type="hidden" [(ngModel)]="currentPost.id" name="id" />

    <button
      *ngIf="!isEdit"
      (click)="addPost(title.value, body.value)"
      class="btn btn-dark btn-block"
    >
      Add Posts
    </button>

    <button
      *ngIf="isEdit"
      (click)="updatePost(title.value, body.value)"
      class="btn btn-dark btn-block"
      btn-block
    >
      Update Posts
    </button>
    <button (click)="dummyPost()">Dummy Post</button>
    <button (click)="cancelPost()">Cancel Post</button>
  </form>
</div>
